@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

/* *:hover{
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
} */
section{
    float:left;
    width:100%;
    background: #fff;  /* fallback for old browsers */
    padding:30px 0;
}

/*Profile Card 1*/
.profile-card {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  color: #ffffff;
  text-align: center;
  height:368px;
  border:none;
}
.profile-card .background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(5px);
  filter: blur(5px);
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.profile-card .card-content {
  width: 100%;
  padding: 15px 25px;
  position: absolute;
  left: 0;
  top: 50%;
}
.profile-card .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card h6 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:18px;
}
.profile-card h6 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card i {
  display: inline-block;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #fff;
    width: 32px;
    height: 32px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card .icon-block a{
    text-decoration:none;
}
.profile-card i:hover {
  background-color:#fff;
  color:#2E3434;
  text-decoration:none;
}

/*
  Blog cards
*/

.blog-card {
  max-width: 720px;
  position: relative;
  margin-left: 30px;
}

.blog-author {
  position: absolute;
  top: 6%;
  left: -5%;
}

@media (max-width: 577px) {
  .blog-card {
    margin-left: 0px;
  }

  .container-cards .card:not(:first-child){
    margin-top: 50px;
  }

  .blog-author {
    top: -8%;
    left: 50%;
    margin-left: -25px;
  }

  .blog-author--about {
    top: -31px;
  }
}

.blog-author--image {
  height: 50px;
  width: 50px;
  border-radius: 72px;
  border: 2px solid #78441f;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.10);
}

.about-card {
  border: 1px solid #78441f;
}