/* шапка */
.header {
    background-color: #ffffff;
    background-image: url('../images/2.jpg');
    background-size: cover;
    border-bottom: 1px solid #e8b548;
}

.ls-container {
    width: 250px;
    height: 100%;
    border: 1px solid #000000;
}

.lang, .social {
    width: 100%;
    height: 50px;
    border: 1px solid #000000;
    margin-bottom: 10px;
}
/* конец шапки*/

/* основная разметка */
.mw-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    background-color: #400c0c;
    padding-left: 0px;
    padding-right: 0px;
}

.mw-sidebar--sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 20px;
    font-family: Calibri;
}

.mw-line{
    padding: 0;
    margin: 0;
}

.mw-menu,
.sub-menu {
    list-style-type: none;
    padding: 0;
}

.sub-menu {
    background: rgba(84, 7, 7, 0.92);
}

.mw-menu--link,
.sub-menu--link {
    color: #e8b548;
    display: block;
    text-decoration: none !important;
    padding-left: 20px;
}

.sub-menu--link {
    padding-left: 40px;
}

.mw-line,
.mw-sidebar .mw-menu--item,
.mw-sidebar .sub-menu--item {
    border-bottom: #78441f solid 1px;
}

.mw-menu--item > .mw-menu--link:hover,
.sub-menu--item > .sub-menu--link:hover {
    color: #ffffff;
}

.sub-menu--media .sub-menu--item,
.sub-menu--interesting .sub-menu--item{
    display: none;
}

.no-border {
    border: 0 !important;
}
/* конец основной разметки */

/* контент главной страницы*/
.card{
    max-width: 260px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.10);;
    -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.10);;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.10);;
}

.mt-20 {
    margin-top: 20px;
}

/* конец контента главной страницы*/

/* подвал */
.footer {
    height: 100px;
    line-height: 100px;
    background-color: #f5f5f5;
}

.social-footer {
    float: right;
}

.social-footer > a {
    margin-left: 10px;
    text-decoration: none;
}
/* конец подвала */