/* шапка */
.header {
    height: 200px;
    background-color: #f5f5f5;
}

.ls-container {
    width: 250px;
    height: 100%;
    border: 1px solid #000000;
}

.lang, .social {
    width: 100%;
    height: 50px;
    border: 1px solid #000000;
    margin-bottom: 10px;
}
/* конец шапки*/

/* основная разметка */
.mw-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    width: 250px;
    background-color: #400c0c;
    padding-left: 0px;
    padding-right: 0px;
}

.sidebar-sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 20px;
    font-family: Calibri;
}

.mw-sidebar li,
hr{
    border-bottom: #78441f solid 1px;
}

hr{
    padding: 0;
    margin: 0;
}

li > a {
    padding-left: 20px;
}

li > a:hover {
    color: #ffffff;
}

.sub-menu--item {
    padding-left: 40px;
}

ul.sub-menu {
    background: rgba(84, 7, 7, 0.92);
}

a {
    color: #e8b548;
}

a.mw-menu--item,
a.sub-menu--item {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0px 0px 0px 0px;
}

.sub-menu--media li,
.sub-menu--interesting li{
    display: none;
}

li.no-border {
    border: 0;
}
/* конец основной разметки */

/* контент главной страницы*/
.card{
    max-width: 260px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.10);;
    -moz-box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.10);;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.10);;
}

/*@media only screen and (min-width: 540px) and (max-width: 720px){
	.card{
		width: auto;
	}
}
*/
.card-link{

}

/* конец контента главной страницы*/

/* подвал */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: #f5f5f5;
}

.social-footer {
    float: right;
}

.social-footer > a {
    margin-left: 10px;
    text-decoration: none;
}
/* конец подвала */